<div class="container">
    <h1>Book List</h1>
    <a [routerLink]="['/book']" class="btn btn-success">New Book</a>
    <br/><br/>
    <input #searchedWords (keyup)="0" class="form-control" placeholder="Filter by name or author">
    <br/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Book Name</th>
                <th>Author</th>
                <th>Quantity</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr #tr *ngFor="let book of books | filterByNameAndAuthor: searchedWords.value">
                <th>{{book.id}}</th>
                <td>{{book.nome}}</td>
                <td>{{book.autor}}</td>
                <td>{{book.quantidade}}</td>
                <td>
                    <a [routerLink]="['/book', book.id]" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <button (click)="delete(book, tr)" class="btn btn-danger">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>