<div class="container">
    <h1>Loan List</h1>
    <a [routerLink]="['/loan']" class="btn btn-success">New Loan</a>
    <br/><br/>
    <input #searchedWords (keyup)="0" class="form-control" placeholder="Filter by book, user or date">
    <br/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Loan Id</th>
                <th>Book Name</th>
                <th>User Name</th>
                <th>Loan Date</th>
                <th>Return Date</th>
                <th>Returned</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr #tr *ngFor="let loan of loans | filterByBookAndUser: searchedWords.value">
                <th>{{loan.id}}</th>
                <td>{{loan.livro.nome}}</td>
                <td>{{loan.usuario.nome}}</td>
                <td>{{loan.dataEmprestimo | date:'MM/dd/yyyy'}}</td>
                <td>{{loan.dataDevolucao | date:'MM/dd/yyyy'}}</td>
                <td>{{loan.devolvido ? 'Yes' : 'No'}}</td>
                <td>
                    <a [routerLink]="['']" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <button (click)="delete(user, tr)" class="btn btn-danger">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>